acres==0.2.0
aiofiles==24.1.0
aiogram==3.16.0
aiohttp==3.9.3
aiohttp-socks==0.8.4
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
asposecellscloud==24.12
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
bottle==0.12.25
Brotli==1.1.0
browser-cookie3==0.19.1
browsermob-proxy==0.8.0
bs4==0.0.2
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
configobj==5.0.9
configparser==7.1.0
cryptography==42.0.5
cssselect2==0.7.0
curl_cffi==0.6.2
defusedxml==0.7.1
duckduckgo_search==5.3.0
et_xmlfile==2.0.0
etelemetry==0.3.1
excel2img==1.4.0
fastapi==0.110.1
filelock==3.16.1
fitz==0.0.1.dev2
Flask==3.0.3
frontend==0.0.3
frozenlist==1.4.1
g4f==0.2.9.4
gevent==24.2.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.6
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.3
loguru==0.7.2
looseversion==1.3.0
lxml==5.3.0
lz4==4.3.3
magic-filter==1.0.12
MarkupSafe==2.1.5
multidict==6.0.5
nest-asyncio==1.6.0
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.2
numpy==2.2.1
openpyxl==3.1.5
orjson==3.10.0
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
pathlib==1.0.1
pdf2image==1.17.0
pillow==10.3.0
platformdirs==4.2.0
plum-dispatch==1.7.4
plyer==2.1.0
prov==2.0.1
proxy_tools==0.1.0
puremagic==1.28
pycparser==2.21
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
pydot==3.0.3
PyExecJS==1.5.1
PyMuPDF==1.25.1
pyparsing==3.2.1
pypiwin32==223
PySocks==1.7.1
pyTelegramBotAPI==4.25.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-socks==2.4.4
python-telegram-bot==21.9
pythonnet==3.0.3
pytz==2024.2
pywebview==5.0.5
pywin32==308
pyxnat==1.6.2
rdflib==6.3.2
requests==2.31.0
scipy==1.14.1
selenium==4.18.1
setuptools==69.1.1
simplejson==3.19.3
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spire==0.4.2
Spire.Pdf==10.12.1
Spire.Xls==14.12.0
starlette==0.37.2
tinycss2==1.2.1
traits==6.4.3
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.9.0
tzdata==2024.2
urllib3==2.2.0
uvicorn==0.29.0
webencodings==0.5.1
websocket==0.2.1
Werkzeug==3.0.2
win32-setctime==1.1.0
wsproto==1.2.0
xlrd==1.2.0
yarl==1.9.4
zope.event==5.0
zope.interface==6.2
